# fly.toml app configuration file generated for tits-bot on 2024-10-07T19:41:45-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tits-bot'
primary_region = 'iad'

[build]

[env]
PORT = '8080'
RUST_LOG = 'debug'
FRANZ_BROKER = 'tits.franz.mostlymaxi.com:8085'

[[services]]
internal_port = 8080
protocol = "tcp"
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1

[[restart]]
policy = "always"
retries = 5

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
